In [1]:
import pandas as pd
import numpy as np
import pandasql as ps

In [2]:
data = {
    'Név': ['Anna', 'Béla', 'Cecília', 'Dániel', 'Erika', 'Ferenc'],
    'Kor': [20, 21, 22, 20, 19, 22],
    'Tanulmányi átlag': [4.5, 3.9, 4.8, 3.4, 4.9, 4.0],
    'Lakóhely': ['Budapest', 'Pécs', 'Debrecen', 'Szeged', 'Budapest', 'Győr']
}

df = pd.DataFrame(data)
df.to_csv('diakok.csv')

1. Melyik városból vannak a legtöbben a listán?  
2. Készíts egy új oszlopot, amely a következőképpen kategorizálja a diákokat tanulmányi átlag alapján:  
1-2: Gyenge  
2-3: Elégséges  
3-4: Közepes  
4-5: Jó  
5: Kiváló  
3. Hány diák kapta a "Jó" vagy "Kiváló" kategorizációt?  
4. Mely diákoknak van a "név" oszlopban magánhangzó az utolsó betű helyén?  
5. Számítsd ki a diákok korának mediánját!  
6. Szűrd le azokat a diákokat, akik 20 év alattiak és tanulmányi átlaguk meghaladja a 4.0-t!

In [32]:
#1. Melyik városból vannak a legtöbben a listán? 
varos_db = df['Lakóhely'].value_counts()
legtobb = varos_db.idxmax()
print(legtobb)

Budapest

       Név  Kor  Tanulmányi átlag  Lakóhely     Jegy
0     Anna   20               4.5  Budapest       Jó
1     Béla   21               3.9      Pécs  Közepes
2  Cecília   22               4.8  Debrecen       Jó
3   Dániel   20               3.4    Szeged  Közepes
4    Erika   19               4.9  Budapest       Jó
5   Ferenc   22               4.0      Győr       Jó

In [3]:
#2. Készíts egy új oszlopot, amely a következőképpen kategorizálja a diákokat tanulmányi átlag alapján:  
#1-2: Gyenge  
#2-3: Elégséges  
#3-4: Közepes  
#4-5: Jó 
#5: Kiváló

feltetelek = [(df['Tanulmányi átlag'] <2),(df['Tanulmányi átlag'] <3), (df['Tanulmányi átlag'] <4), (df['Tanulmányi átlag'] <5), (df['Tanulmányi átlag'] == 5)]
igen_eseten = ['Gyenge','Elégséges','Közepes','Jó','Kiváló']
df['Jegy'] = np.select(feltetelek,igen_eseten)
df.head(7)

       Név  Kor  Tanulmányi átlag  Lakóhely     Jegy
0     Anna   20               4.5  Budapest       Jó
1     Béla   21               3.9      Pécs  Közepes
2  Cecília   22               4.8  Debrecen       Jó
3   Dániel   20               3.4    Szeged  Közepes
4    Erika   19               4.9  Budapest       Jó
5   Ferenc   22               4.0      Győr       Jó

In [5]:
#3. Hány diák kapta a "Jó" vagy "Kiváló" kategorizációt?  

jo_kivalo_sum = df[df['Jegy'].isin(['Jó','Kiváló'])]
db = len(jo_kivalo_sum)
print(db)

4

In [7]:
#4. Mely diákoknak van a "név" oszlopban magánhangzó az utolsó betű helyén?  

mh = ['a', 'á', 'e', 'é', 'i', 'í', 'o', 'ó', 'ö', 'ő', 'u', 'ú', 'ü', 'ű']
df[df['Név'].str[-1].str.lower().isin(mh)]['Név']

0       Anna
1       Béla
2    Cecília
4      Erika
Name: Név, dtype: object

In [39]:
#5. Számítsd ki a diákok korának mediánját!  
diak_median = df['Kor'].median()
print(diak_median)

20.5

In [13]:
#6. Szűrd le azokat a diákokat, akik 20 év alattiak és tanulmányi átlaguk meghaladja a 4.0-t!  

feltetel = df[(df['Kor'] < 20) & (df['Tanulmányi átlag'] > 4)][['Név','Tanulmányi átlag']]


print(feltetel)

     Név  Tanulmányi átlag
4  Erika               4.9