In [1]:
import pandas as pd
import numpy as np
import pandasql as ps

In [2]:
data = {
    'Név': ['Anna', 'Béla', 'Cecília', 'Dániel', 'Erika', 'Ferenc'],
    'Kor': [20, 21, 22, 20, 19, 22],
    'Tanulmányi átlag': [4.5, 3.9, 4.8, 3.4, 4.9, 4.0],
    'Lakóhely': ['Budapest', 'Pécs', 'Debrecen', 'Szeged', 'Budapest', 'Győr']
}

df = pd.DataFrame(data)
df.to_csv('diakok.csv')

1. Melyik városból vannak a legtöbben a listán?  
2. Készíts egy új oszlopot, amely a következőképpen kategorizálja a diákokat tanulmányi átlag alapján:  
1-2: Gyenge  
2-3: Elégséges  
3-4: Közepes  
4-5: Jó  
5: Kiváló  
3. Hány diák kapta a "Jó" vagy "Kiváló" kategorizációt?  
4. Mely diákoknak van a "név" oszlopban magánhangzó az utolsó betű helyén?  
5. Számítsd ki a diákok korának mediánját!  
6. Szűrd le azokat a diákokat, akik 20 év alattiak és tanulmányi átlaguk meghaladja a 4.0-t!

In [3]:
hallgatok = pd.read_csv('diakok.csv')

In [4]:
# 1. Melyik városból vannak a legtöbben a listán?

hallgatok['Lakóhely'].value_counts().first_valid_index()

'Budapest'

In [6]:
# 2. Új oszlop a tanulmányi átlagok alapján

feltetelek = [
    (hallgatok['Tanulmányi átlag'] >= 1) & (hallgatok['Tanulmányi átlag'] < 2),
    (hallgatok['Tanulmányi átlag'] >= 2) & (hallgatok['Tanulmányi átlag'] < 3),
    (hallgatok['Tanulmányi átlag'] >= 3) & (hallgatok['Tanulmányi átlag'] < 4),
    (hallgatok['Tanulmányi átlag'] >= 4) & (hallgatok['Tanulmányi átlag'] < 5),
    (hallgatok['Tanulmányi átlag'] == 5)
]

kategoriak = ['Gyenge', 'Elégséges', 'Közepes', 'Jó', 'Kiváló']


hallgatok['Kategoria'] = np.select(feltetelek, kategoriak, default=0)

In [17]:
# 3. Mely diákoknak van a "név" oszlopban magánhangzó az utolsó betű helyén?

maganhangzok = ['a', 'á', 'e', 'é', 'i', 'í', 'o', 'ó', 'ö', 'ő', 'u', 'ú', 'ü', 'ű']

hallgatok[hallgatok['Név'].str[-1].str.lower().isin(maganhangzok)]

   Unnamed: 0      Név  Kor  Tanulmányi átlag  Lakóhely Kategoria
0           0     Anna   20               4.5  Budapest        Jó
1           1     Béla   21               3.9      Pécs   Közepes
2           2  Cecília   22               4.8  Debrecen        Jó
4           4    Erika   19               4.9  Budapest        Jó

In [8]:
# 4. Hányan "jók" vagy "kiválók"?

hallgatok[hallgatok['Tanulmányi átlag']>=4].count()['Név']

4

In [9]:
# 5. Diákok korainak mediánja

hallgatok['Kor'].median()

20.5

In [16]:
# 6. 20 év alattiak 4.0 átlag felett


hallgatok[(hallgatok['Tanulmányi átlag']>=4) & (hallgatok['Kor']<20)]

   Unnamed: 0    Név  Kor  Tanulmányi átlag  Lakóhely Kategoria
4           4  Erika   19               4.9  Budapest        Jó